html, body {
  background-color: #efefef;
  color: #a9a9a9;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin:0;

}
            
.heading {
  height: 50px;
  background-color: white;
  width: 100%;
  min-width:960px;
}

.content {
  width:960px;
  min-width:960px;
  min-height:600px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.logo {
  float: left;
}

.vsebovalnikBesedila {
  margin-top: 50px;
  clear: both;
}

.vsebovalnikGumbov {
  width: 100%;
  display: block;
  clear: both;
}

.title {
  font-size: 110px;
  float: left;
  clear:both;
  width: 100%;
}

.info {
  font-size: 35px;
  float: left;
  width: 100%;
}

.links > a {
  color: #636b6f;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  margin-right: 20px;
  margin-top: 17px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

.links > a:hover {
  color: #ff3b3f;
}

button {
  background-color: #ff3b3f;  
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 13px;
  margin-right: 8px;
  margin-top: 20px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #ee3b3f;  
}

form {
  display:inline;
  margin:0px;
  padding:0px;
}