html, body {
  background-color: #efefef;
  color: #a9a9a9;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin:0;
  min-height: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.heading {
  height: 50px;
  background-color: white;
  width: 100%;
  min-width:480px;
}

.mainJunior{
  flex: 1;
  height: 100%;
  display: flex;
}

.container {
  padding-top: 0px;
  background-color: white;
}

.rowContainer{
  display: flex;
  width: 100%;
}

.rowContainer input {
  flex: 1;
  padding-right: 5px;
}

.rowContainer label {
  margin: auto;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 20px;
  width: 15%;
}

.rowContainer button {
  flex: 1;
  margin: 5px;
}

.content {
  min-width:480px;
  max-width:600px;
  margin: auto;
}

.logo {
  float: left;
}

.title {
  font-size: 35px;
  float: left;
  clear:both;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

input[type=text], input[type=password], input[type=date], input[type=email] {
  padding: 8px 5px;
  font-size: 15px;
  margin: 8px;
  font-family: 'Raleway ', sans-serif;
  background-color: white;
  color: #a9a9a9;
}

button {
  background-color: #ff3b3f;  
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 13px;
  margin-right: 0px;
  margin-top: 5px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #ee3b3f;  
}
