html, body {
  background-color: #efefef;
  color: #a9a9a9;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
  min-height: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
   
.heading {
  height: 50px;
  background-color: white;
  width: 100%;
  min-width:480px;
}

.mainJunior{
  flex: 1;
  height: 100%;
  display: flex;
  min-height: 350px;
}

.content {
  min-width: 480px;
  width: 90%;
  margin: auto;
}

/* zacetek igranja z flexi*/

.titleContainer {
  width: 100%;
  clear: both;
}

.pairContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
}

.pairRowContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  clear: both;
}

.container {
  margin-top: 10px;
  padding-top: 10px;
  background-color: white;
  width: 95%;
  min-width: 480px;
}

.largeContainer {
  margin-top: 10px;
  padding-top: 10px;
  background-color: white;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  min-width: 480px;
}

.container-blank {
  margin-top: 10px;
  width: 95%;
  min-width: 480px;
}

.containerRow {
  padding-top: 10px;
  background-color: white;
  width: 100%;
  min-width: 480px;
  margin-bottom: 10px;
}

.rowContainer{
  display: flex;
  width: 100%;
}

.rowContainer input {
  flex: 1;
  padding-right: 10px;
}

.rowContainer label {
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  width: 25%;
}

.rowContainer select {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rowContainer2 {
  display: flex;
  width: 100%;
}

.rowContainer2 input {
  flex: 1;
  padding-right: 10px;
}

.rowContainer2 label {
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  flex: 1;
}

.titleRow {
  flex: 1;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1100px) {
    .container {
        width: 45%;
    }

    .container-blank {
        width: 45%;
    }
}

/* konec igranja z flexi*/

.logo {
  float: left;
}

.title {
  font-size: 45px;
  float: left;
  clear:both;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.links > a {
  color: #636b6f;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  margin-right: 20px;
  margin-top: 17px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

.links > a:hover {
  color: #ff3b3f;
}
input[type=text], input[type=password], input[type=date], input[type=email], input[type=radio], textarea {
  padding: 8px 5px;
  font-size: 15px;
  margin: 8px;
  font-family: 'Raleway ', sans-serif;
  background-color: white;
  color: #a9a9a9;
}

input[type=radio] ~label {
  margin-right: 20px;
}

input[type=radio] {
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"]:disabled {
    background: #efefef;
}

button {
  background-color: #ff3b3f;  
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 13px;
  margin-right: 0px;
  margin-top: 5px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  cursor: pointer;
}

textarea {
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  background-color: #ee3b3f;  
}

select {
  font-family: 'Raleway bold', sans-serif;
  color: #a9a9a9;
  font-size: 15px;
  padding: 10px;
}