html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
            
.centrirano {
  max-width:500px;
  min-width: 500px;
  margin-right:auto;
}

.navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 18px;
  right: 10px;
                top: 18px;
                text-align: right;
                overflow: hidden;
}


.content {
  text-align: center;
}

.title {
  font-size: 50px;
  margin-bottom: 30px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

input[type=text], input[type=password], input[type=date], input[type=email] {
  width: 100%;
  padding: 5px 8px;
  margin: 8px;
  background-color: white;
  border-radius: 5px;
}

input[type=radio] ~label {
  margin-right: 20px;
}

input[type=radio] {
  margin-top: 10px;
  margin-bottom: 8px;
}

button {
  background-color: #3399ff;  
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 8px;
  margin: 8px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}